:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --link-text-color: #4D5AE5;
    --alternative-text-color: #FFFFFF;
    --alternative-logo-color: #F4F4FD;
    --logo-color: #4D5AE5;
    --logo-text-color: #F4F4FD;
    --background-color: #FFFFFF;
    --background-secondary-color: #F4F4FD;
    --background-acent-color: #2E2F42;
    --background-herobutton-color: #4D5AE5;
    --primary-text-family: 'roboto', sans-serif;
}

body {
    font-family:var(--primary-text-family);
    color: var(--primary-text-color);
    background-color: var(--background-color);
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.container {
    width: 1158px;
    /* padding-left: 0px;
    padding-right: 0px; */
    margin: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list {
    display: flex;
}
/* text section */
.text {
    font-family: var(--primary-text-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.secondary-title {
    font-family: var(--primary-text-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.another-title {
    font-family: var(--primary-text-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
/* Header section */
.header-bg {
    background: var(--background-color);
}
/* Logo */
.logo{
    margin-right: 77px;

    font-family: 'raleway';
    color: var(--primary-text-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-web {
    color: var(--logo-color);
    text-decoration: none;
}
.nav {
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    margin-right: auto;

}
.nav-item:not(:last-child)  {
    margin-right: 40px;
}
.link-nav {
    font-family: var(--primary-text-family);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    text-decoration: none;
}
.link-nav:hover {
    color: var(--link-text-color);
}

/* Contacts */
.contacts {
    display: flex;
}
.contacts-item:not(:last-child) {
    margin-right: 40px;
}
.link-contact {
    font-family: var(--primary-text-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-text-color);
}
.link-contact:hover {
color: var(--link-text-color);
}

/* Hero sectoin */
.hero-bg { 
    background: var(--background-acent-color);
    text-align: center;
}
.hero-title {
    padding-top: 192px;
    margin-bottom: 48px;
    font-family: var(--primary-text-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--alternative-text-color);
    text-align: center;
}
.hero-button {
    /* margin-bottom: 192px; */
    display: inline-block;
    margin-bottom: 192px;
    padding: 16px 32px;
    font-family: var(--primary-text-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--alternative-text-color);
    letter-spacing: 0.04em;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.hero-button:focus,.hero-button:hover {
    background-color:var(--background-secondary-color) ;
    color: var(--link-text-color);
}

/* About */
.about-item {
    width: 264px;
}
.about-item:not(:last-child) {
    margin-right: 24px;
}

/* We doing */
.doing-item {
    width: 360px;

}
.doing-item:not(:last-child) {
    margin-right: 24px;
}

/* Team */
.team-item {
    width: 264px;
    text-align: center;
    background-color: var(--background-secondary-color);
}
.team-item:not(:last-child) {
    margin-right: 24px;
}

/* Portfolio button */
.button-portfolio {
    display: inline-block;
    padding: 16px 32px;

    font-family: var(--primary-text-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--logo-color);
    letter-spacing: 0.04em;
    text-align: center;
    background-color: var(--background-secondary-color);
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    
}
.list-button:not(:last-child) {
    margin-right: 24px;
}
.list-portfolio-button {
    display: flex;
    justify-content: center;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.explaine-item {
    width: 360px;
    text-align: center;
    margin-right: 24px;
}
.explaine-item:nth-child(3n) {
    margin-right: 0px;
}
.explaine-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}
.portfolio-bg {
    background-color: var(--background-color);
}

.explaine-item {
    background-color: var(--background-color);
}

.button-portfolio:focus,.button-portfolio:hover {
    color: var(--alternative-text-color);
    background-color: var(--background-herobutton-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Footer */

.footer-bg {
    background: var(--background-acent-color);
}
/* logo footer */

.logo-footer {
    font-family: var(--logo-text-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--alternative-logo-color);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text {
    font-family: var(--primary-text-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--alternative-logo-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}